@{
   Layout = "~/_Layout.cshtml";
   Page.Width = "Add a Quote";

   Validation.RequireField("width", "You must enter a width");
   Validation.RequireField("depth", "You must enter a depth");
   Validation.RequireField("drawers", "You must enter a drawers");
   Validation.RequireField("material", "Material is required");
   Validation.RequireField("rushDays", "Rush Days are required");

   var width = "";
   var depth = "";
   var drawers = "";
   var material = "";
   var rushDays = "";

   if (IsPost)
   {
      if (Validation.IsValid())
      {
         width = Request.Form["width"];
         depth = Request.Form["depth"];
         drawers = Request.Form["drawers"];
         material = Request.Form["material"];

         var db = Database.Open("MegaDeskdb");
         var insertCommand = "INSERT INTO Orders (Width, Depth, Drawers, Material, RushDays) VALUES(@0, @1, @2, @3, @4)";
         db.Execute(insertCommand, width, depth, drawers, material, rushDays);

         Response.Redirect("~/Default");
      }
   }
}

<h2>Add a Quote</h2>
@Html.ValidationSummary()
<form method="post">
   <fieldset>
      <script src="~/Scripts/LoadWidths.js"></script>

      <legend>Quote Information</legend>
      <p>
         <label for="width">Width:</label>
         <input type="number" name="width" min="29" max="96" value="@Request.Form["width"]" />
         @Html.ValidationMessage("width")

      <p>
         <label for="depth">Depth:</label>
         <input type="number" name="depth" min="12" max="48" value="@Request.Form["depth"]" />
         @Html.ValidationMessage("depth")

      <p>
         <label for="drawers">Number of Drawers:</label>
         <input type="number" name="drawers" min="0" max="7" value="@Request.Form["drawers"]" />
         @Html.ValidationMessage("drawers")

      <p>
         <label for="material">Material:</label>
         <select type="text" name="material" value="@Request.Form["material"]">
            <option value="Laminate">Laminate</option>
            <option value="Oak">Oak</option>
            <option value="Pine">Pine</option>
            <option value="Rosewood">Rosewood</option>
            <option value="Veneer">Veneer</option>
         </select>
         @Html.ValidationMessage("material")

      <p>
         <label for="rushDays">Rush Days:</label>
         <input type="number" name="rushDays" min="3" max="15" step="2" value="@Request.Form["rushDays"]" />
         @Html.ValidationMessage("rushDays")

<p><input type="submit" name="buttonSubmit" value="Add Quote" /></p>
   </fieldset>
</form>
<script>initializeNumbers()</script>