@{
   Layout = "~/_Layout.cshtml";
   Page.Width = "Add a Quote";

   //Validation.RequireField("first", "You must enter a first name");
   //Validation.RequireField("last", "You must enter a last name");
   Validation.RequireField("width", "You must enter a width");
   Validation.RequireField("depth", "You must enter a depth");
   Validation.RequireField("drawers", "You must enter a drawers");
   Validation.RequireField("material", "Material is required");
   Validation.RequireField("rushDays", "Rush Days are required");

   var first = "";
   var last = "";
   var width = "";
   var depth = "";
   var drawers = "";
   var material = "";
   var rushDays = "";

   if (IsPost)
   {
      if (Validation.IsValid())
      {
         first = Request.Form["first_name"];
         last = Request.Form["last_name"];
         width = Request.Form["width"];
         depth = Request.Form["depth"];
         drawers = Request.Form["dwr_number"];
         material = Request.Form["surface_mat"];
         rushDays = Request.Form["shipping_spd"];

         var db = Database.Open("MegaDeskdb");
         var insertCommand = "INSERT INTO Desk (first_name, last_name, width, depth, dwr_number, surface_mat, shipping_spd) VALUES(@0, @1, @2, @3, @4, @5, @6)";
         db.Execute(insertCommand, first, last, width, depth, drawers, material, rushDays);

         Response.Redirect("~/ViewQuotes");
      }
   }
}

<h2>Add a Quote</h2>
@Html.ValidationSummary()
<form method="post">
   <fieldset>
      <script src="~/Scripts/LoadWidths.js"></script>

      <legend>Quote Information</legend>
      <p>
         <label for="first_name">Customer First Name:</label>
         <input type="text" name="first_name" value="@Request.Form["first_name"]" />
         @Html.ValidationMessage("first_name")

      <p>
         <label for="last_name">Customer Last Name:</label>
         <input type="text" name="last_name" value="@Request.Form["last_name"]" />
         @Html.ValidationMessage("last_name")

      <p>
         <label for="width">Width:</label>
         <input type="number" name="width" min="29" max="96" value="@Request.Form["width"]" />
         @Html.ValidationMessage("width")

      <p>
         <label for="depth">Depth:</label>
         <input type="number" name="depth" min="12" max="48" value="@Request.Form["depth"]" />
         @Html.ValidationMessage("depth")

      <p>
         <label for="dwr_number">Number of Drawers:</label>
         <input type="number" name="dwr_number" min="0" max="7" value="@Request.Form["dwr_number"]" />
         @Html.ValidationMessage("dwr_number")

      <p>
         <label for="surface_mat">Material:</label>
         <select type="text" name="surface_mat" value="@Request.Form["surface_mat"]">
            <option value="Laminate">Laminate</option>
            <option value="Oak">Oak</option>
            <option value="Pine">Pine</option>
            <option value="Rosewood">Rosewood</option>
            <option value="Veneer">Veneer</option>
         </select>
         @Html.ValidationMessage("surface_mat")

      <p>
         <label for="shipping_spd">Rush Shipping Days:</label>
         <input type="number" name="shipping_spd" min="3" max="15" step="2" value="@Request.Form["shipping_spd"]" />
         @Html.ValidationMessage("shipping_spd")

<p><input type="submit" name="buttonSubmit" value="Add Quote" /></p>
   </fieldset>
</form>
<script>initializeNumbers()</script>