@{
    Layout = "~/_Layout.cshtml";
    Page.Width = "Delete a Quote";

    var first = "";
    var last = "";
    var width = "";
    var depth = "";
    var drawers = "";
    var material = "";
    var rushDays = "";
    var ID = "";

    if (!IsPost)
    {
        if (!Request.QueryString["ID"].IsEmpty() && Request.QueryString["ID"].AsInt() > 0)
        {
            ID = Request.QueryString["ID"];
            var db = Database.Open("MegaDeskdb");
            var dbCommand = "SELECT * FROM CompleteDesk WHERE ID = @0";
            var row = db.QuerySingle(dbCommand, ID);
            if (row != null)
            {
                first = row.first_name;
                last = row.last_name;
                width = row.width.ToString();
                depth = row.depth.ToString();
                drawers = row.dwr_number.ToString();
                material = row.surface_mat.ToString();
                rushDays = row.shipping_spd.ToString();
            }
            else
            {
                Validation.AddFormError("error one");
            }
        }
        else
        {
            Validation.AddFormError("error two");
        }
    }

    if (IsPost && !Request["buttonDelete"].IsEmpty())
    {
        ID = Request.Form["ID"];
        var db = Database.Open("MegaDeskdb");
        var deleteCommand = "DELETE FROM CompleteDesk WHERE ID = @0";
        db.Execute(deleteCommand, ID);
        Response.Redirect("~/ViewQuotes");
    }

}

<h2>Delete a Quote</h2>
@Html.ValidationSummary()
<p><a href="~/ViewQuotes">Return to quote listing</a></p>

<form method="post">
   <fieldset>
      <legend>Quote Information</legend>

      <p>
         <span>First Name:</span>
         <span>@first</span>
      </p>

      <p>
         <span>Last Name:</span>
         <span>@last</span>
      </p>

      <p>
         <span>Width:</span>
         <span>@width</span>
      </p>

      <p>
         <span>Depth:</span>
         <span>@depth</span>
      </p>

      <p>
         <span>Drawers:</span>
         <span>@drawers</span>
      </p>

      <p>
         <span>Material:</span>
         <span>@material</span>
      </p>

      <p>
         <span>Rush Days:</span>
         <span>@rushDays</span>
      </p>

      <input type="hidden" name="ID" value="@ID" />
      <p><input type="submit" name="buttonDelete" value="Delete Quote" /></p>
   </fieldset>
</form>