@{
   Layout = "~/_Layout.cshtml";
   Page.Width = "Delete a Quote";

   var first = "";
   var last = "";
   var width = "";
   var depth = "";
   var drawers = "";
   var material = "";
   var rushDays = "";
   var quoteId = "";

   if (!IsPost)
   {
      if (!Request.QueryString["ID"].IsEmpty() && Request.QueryString["ID"].AsInt() > 0)
      {
         quoteId = Request.QueryString["ID"];
         var db = Database.Open("MegaDeskdb");
         var dbCommand = "SELECT * FROM Orders WHERE ID = @0";
         var row = db.QuerySingle(dbCommand, quoteId);
         if (row != null)
         {
            first = row.First;
            last = row.Last;
            width = row.Width;
            depth = row.Depth;
            drawers = row.Drawers;
            material = row.Material;
            rushDays = row.RushDays;
         }
         else
         {
            Validation.AddFormError("No quote was found for that ID.");
         }
      }
      else
      {
         Validation.AddFormError("No quote was found for that ID.");
      }
   }

   if (IsPost && !Request["buttonDelete"].IsEmpty())
   {
      quoteId = Request.Form["quoteId"];
      var db = Database.Open("MegaDeskdb");
      var deleteCommand = "DELETE FROM Orders WHERE ID = @0";
      db.Execute(deleteCommand, quoteId);
      Response.Redirect("~/ViewQuotes");
   }

}

<h2>Delete a Quote</h2>
@Html.ValidationSummary()
<p><a href="~/ViewQuotes">Return to quote listing</a></p>

<form method="post">
   <fieldset>
      <legend>Quote Information</legend>

      <p>
         <span>First Name:</span>
         <span>@first</span>
      </p>

      <p>
         <span>Last Name:</span>
         <span>@last</span>
      </p>

      <p>
         <span>Width:</span>
         <span>@width</span>
      </p>

      <p>
         <span>Depth:</span>
         <span>@depth</span>
      </p>

      <p>
         <span>Drawers:</span>
         <span>@drawers</span>
      </p>

      <p>
         <span>Material:</span>
         <span>@material</span>
      </p>

      <p>
         <span>Rush Days:</span>
         <span>@rushDays</span>
      </p>

      <input type="hidden" name="quoteid" value="@quoteId" />
      <p><input type="submit" name="buttonDelete" value="Delete Quote" /></p>
   </fieldset>
</form>