@{
   Layout = "~/_Layout.cshtml";
   Page.Width = "Edit a Quote";

   var first = "";
   var last = "";
   var width = "";
   var depth = "";
   var drawers = "";
   var material = "";
   var rushDays = "";

   var quoteId = "";

   if (!IsPost)
   {
      if (!Request.QueryString["ID"].IsEmpty() && Request.QueryString["ID"].IsInt())
      {
         quoteId = Request.QueryString["ID"];
         var db = Database.Open("MegaDeskdb");
         var dbCommand = "SELECT * FROM CompleteDesk WHERE ID = @0";
         var row = db.QuerySingle(dbCommand, quoteId);

         if (row != null)
         {
            first = row.First;
            last = row.Last;
            width = row.Width;
            depth = row.Depth;
            drawers = row.Drawers;
            material = row.Material;
            rushDays = row.RushDays;
         }
         else
         {
            Validation.AddFormError("No quote was selected.");
         }
      }
      else
      {
         Validation.AddFormError("No quote was selected.");
      }
   }

   if (IsPost)
   {
      Validation.RequireField("width", "You must enter a width");
      Validation.RequireField("depth", "Depth is required");
      Validation.RequireField("drawers", "You haven't entered a drawers");
      Validation.RequireField("material", "Material is blank");
      Validation.RequireField("rushDays", "Rush days are blank");
      Validation.RequireField("quoteid", "No quote ID was submitted!");

      first = Request.Form["first"];
      last = Request.Form["last"];
      width = Request.Form["width"];
      depth = Request.Form["depth"];
      drawers = Request.Form["drwars"];
      material = Request.Form["material"];
      rushDays = Request.Form["rushDays"];
      quoteId = Request.Form["quoteId"];

      if (Validation.IsValid())
      {
         var db = Database.Open("MegaDeskdb");
         var updateCommand = "UPDATE CompleteDesk SET Width=@0, Depth=@1, Drawers=@2, Material=@3, RushDays=@4, [First]=@5, Last=@6 WHERE Id=@7";
         db.Execute(updateCommand, width, depth, drawers, material, rushDays, first, last, quoteId);
         Response.Redirect("~/ViewQuotes");
      }
   }
}

<h2>Edit a Quote</h2>
@Html.ValidationSummary()
<form method="post">
   <fieldset>
      <legend>Quote Information</legend>

      <p>
         <label for="first">First Name:</label>
         <input type="text" name="first" value="@first" />
      </p>

      <p>
         <label for="last">Last Name:</label>
         <input type="text" name="last" value="@last" />
      </p>

      <p>
         <label for="width">Width:</label>
         <input type="text" name="width" value="@width" />
      </p>

      <p>
         <label for="depth">Depth:</label>
         <input type="text" name="depth" value="@depth" />
      </p>

      <p>
         <label for="drawers">Drawers:</label>
         <input type="text" name="drawers" value="@drawers" />
      </p>

      <p>
         <label for="material">Material:</label>
         <input type="text" name="material" value="@material" />
      </p>

      <p>
         <label for="rushDays">Rush Days:</label>
         <input type="text" name="rushDays" value="@rushDays" />
      </p>

      <input type="hidden" name="quoteid" value="@quoteId" />

      <p><input type="submit" name="buttonSubmit" value="Submit Changes" /></p>
   </fieldset>
</form>
<p><a href="~/ViewQuotes">Return to quote listing</a></p>